<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Platter</h1>
        <p>review your favorite restaurants</p>
    </div>
    <ul>
      <li><a href="/griddemo">platters</a></li>
      <li><a href="/myform">Add New Review Here!</a></li>

    </ul>
<%- include('bootfooter') -%>
